
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
          class="list-group-item list-group-item-action py-2 ripple"  href="#">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>My Tasks</span>
        </a>
          <a
        class="list-group-item list-group-item-action py-2 ripple"  href="#">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>All Tasks</span>
         </a>
         <a
         class="list-group-item list-group-item-action py-2 ripple"  href="#">
         <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Add User</span>
        </a>
        </div>
      </div>
    </nav>

    

